<div id="pdf1">
    <h2 class="text-center mb-4">DECLARACIÓN JURADA DE CALIFICAR COMO INVERSIONISTA INSTITUCIONAL</h2>
    <div class="body-pdf">
      <p>Mediante la presente declaración jurada, yo <span class="fw-bold">JAIRO ALBERTO MACHUCA CONDOR</span>,
        identificado con <span class="fw-bold">DNI 70587679
        </span>, actuando en representación de <span class="fw-bold">JUAN ALVARADO RONDON PEÑA</span> según poderes
        inscritos en la Partida Electrónica N°
        <span class="fw-bold">98987878767</span> del Registro de <span class="fw-bold">AQUI REGISTRO</span> de la
        Oficina Registral de
        <span class="fw-bold">LIMA CALLAO</span>, declaro lo siguiente:
      </p>
      <p>De acuerdo a lo establecido en el Anexo 1 del Reglamento del Mercado de Inversionistas Institucionales,
        Resolución SMV Nº 021-2013-SMV/01, tengo conocimiento del alcance de la calificación de Inversionista
        Institucional y cumplo con los requisitos para calificar como tal:</p>
      <div class="d-flex justify-content-center align-items-center">
        <div>
          <p class="m-0">Los bancos, financieras y compañías de seguros y demás empresas señaladas por el artículo
            16 de la Ley General del Sistema Financiero y del Sistema de Seguros y Orgánica de la
            Superintendencia de Banca y Seguros, Ley N° 26702 y sus normas modificatorias; los agentes
            de intermediación; las administradoras privadas de fondos de pensiones; las sociedades
            administradoras de fondos de inversión; las sociedades administradoras de fondos mutuos y
            las sociedades titulizadoras.</p>
        </div>
        <div class="content-input">
          <input type="text" value="">
        </div>
      </div>
      <br>
      <div class="d-flex justify-content-center align-items-center">
        <div>
          <p class="m-0">Las entidades del exterior que desarrollen actividades similares a las señaladas en el párrafo
            anterior y/o los Qualified Institutional Buyer a las que se refiere la Regla 144A de la U. S.
            Securities Act of 1933.</p>
        </div>
        <div class="content-input">
          <input type="text" value="">
        </div>
      </div>
      <br>
      <div class="d-flex justify-content-center align-items-center">
        <div>
          <p class="m-0">Las Entidades Prestadoras de Salud a las que se refiere la Ley de Modernización de la
            Seguridad Social en Salud, Ley N° 26790, la Oficina de Normalización Previsional – ONP y el
            Seguro Social de Salud – Essalud.</p>
        </div>
        <div class="content-input">
          <input type="text" value="">
        </div>
      </div>
      <br>
      <div class="d-flex justify-content-center align-items-center">
        <div>
          <p class="m-0">Las personas jurídicas de derecho privado o de derecho público que tengan como una de sus
            actividades, de acuerdo con las disposiciones legales o convencionales que las rigen, la
            inversión en valores. En el caso de personas jurídicas no estatales, será exigible que cuenten
            con un portafolio de inversiones en valores igual o superior a S/ 2’028,474.47 (Dos millones
            veintiocho mil cuatrocientos setenta y cuatro y 47/100 Soles).</p>
        </div>
        <div class="content-input">
          <input type="text" value="">
        </div>
      </div>
      <br>
      <div class="d-flex justify-content-center align-items-center">
        <div>
          <p class="m-0">Los fondos y patrimonios autónomos administrados por las personas señaladas en los
            numerales anteriores, siempre que la decisión de inversión sea responsabilidad de ellas y que
            el patrimonio neto individual del fondo o patrimonio sea igual o superior a S/ 811,389.79
            (Ochocientos once mil trescientos ochenta y nueve y 79/100 Soles).
          </p>
        </div>
        <div class="content-input">
          <input type="text" value="">
        </div>
      </div>
      <br>
      <div class="d-flex justify-content-center align-items-center">
        <div>
          <p class="m-0">Personas naturales que cuentan con un patrimonio superior a S/ 4’056,948.93 (Cuatro millones
            cincuenta y seis mil novecientos cuarenta y ocho y 93/100 Soles), y un portafolio de
            inversiones en valores igual o superior a S/ 2’028,474.47 (Dos millones veintiocho mil
            cuatrocientos setenta y cuatro y 47/100 Soles).
          </p>
        </div>
        <div class="content-input">
          <input type="text" value="">
        </div>
      </div>
      <br>
      <p>(*) Marcar la opción con la que se identifique.</p>
      <p>Finalmente, declaro que, de existir variación en lo declarado anteriormente, procederé a informar
        oportunamente.</p>
      <br>
      <p>Lima, <span class="fw-bold">19</span> de <span class="fw-bold">JUNIO</span> de <span
          class="fw-bold">2022</span> .</p>
      <br>
      <p class="mb-1">Firma</p>
      <p class="mb-1">Nombres y Apellidos: <span class="fw-bold">JAIRO ALBERTO MACHUCA CONDOR</span></p>
      <p class="mb-1">Documento de Identidad: <span class="fw-bold">70587679</span></p>
    </div>
  </div>