<div class="row g-3 mt-2 mb-5">
    <div class="col-3">
        <label class="form-label" for="nacionalidad">Páis donde desempeña función</label>
        <select class="form-select">
          <option disabled selected>Seleccione</option>
          <option value="1">Perú</option>
          <option value="2">Colombia</option>
          <option value="3">Argentina</option>
        </select>
      </div>
      <div class="col-2">
        <label class="form-label" for="paterno">Fecha inicio</label>
        <input type="text" class="form-control" name="paterno">
      </div>
      <div class="col-2">
        <label class="form-label" for="paterno">Fecha cese</label>
        <input type="text" class="form-control" name="paterno">
      </div>
      <div class="col-2">
        <label class="form-label">Administra recursos</label>
        <div class="d-block">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="firma" id="si3" value="1">
            <label class="form-check-label" for="si3">Si</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="firma" id="no3" value="2">
            <label class="form-check-label" for="no3">No</label>
          </div>
        </div>
      </div>
      <div class="col-2">
        <label class="form-label" for="paterno">Nombre Conyuge</label>
        <input type="text" class="form-control" name="paterno">
      </div>
      <div class="col-2">
        <label class="form-label" for="tipodocumento">Tipo documento</label>
        <select class="form-select">
          <option disabled selected>Seleccione</option>
          <option value="1">Dni</option>
          <option value="2">Pasaporte</option>
          <option value="3">Carnet de extranjeria</option>
        </select>
      </div>
      <div class="col-2">
        <label class="form-label" for="nrodocumento">Número documento</label>
        <input type="text" class="form-control" name="nrodocumento">
      </div>
</div>