<div class="row g-3 mt-2 mb-5">
  <div class="col-2">
    <label class="form-label" for="paterno">Apellido Paterno</label>
    <input type="text" class="form-control" name="paterno">
  </div>
  <div class="col-2">
    <label class="form-label" for="materno">Apellido Materno</label>
    <input type="text" class="form-control" name="materno">
  </div>
  <div class="col-2">
    <label class="form-label" for="nombres">Nombres</label>
    <input type="text" class="form-control" name="nombres">
  </div>
  <div class="col-2">
    <label class="form-label" for="tipodocumento">Tipo documento</label>
    <select class="form-select">
      <option disabled selected>Seleccione</option>
      <option value="1">Dni</option>
      <option value="2">Pasaporte</option>
      <option value="3">Carnet de extranjeria</option>
    </select>
  </div>
  <div class="col-2">
    <label class="form-label" for="nrodocumento">Número documento</label>
    <input type="text" class="form-control" name="nrodocumento">
  </div>
  <div class="col-2">
    <label class="form-label" for="fechanacimiento">Fecha nacimiento</label>
    <input type="text" class="form-control" name="fechanacimiento">
  </div>
  <div class="col-2">
    <label class="form-label" for="lugarnacimiento">Lugar nacimiento</label>
    <input type="text" class="form-control" name="lugarnacimiento">
  </div>
  <div class="col-2">
    <label class="form-label" for="nacionalidad">Nacionalidad</label>
    <select class="form-select">
      <option disabled selected>Seleccione</option>
      <option value="1">Peruana</option>
      <option value="2">Extranjero</option>
      <option value="3">Marciano</option>
    </select>
  </div>
  <div class="col-4">
    <label class="form-label" for="domicilio">Domicilio</label>
    <input type="text" class="form-control" name="domicilio">
  </div>
  <div class="col-2">
    <label class="form-label" for="distrito">Distrito</label>
    <select class="form-select">
      <option disabled selected>Seleccione</option>
      <option value="1">Lince</option>
      <option value="2">San Isidro</option>
      <option value="3">Jesus Maria</option>
    </select>
  </div>
  <div class="col-2">
    <label class="form-label" for="provincia">Provincia</label>
    <select class="form-select">
      <option disabled selected>Seleccione</option>
      <option value="1">Lince</option>
      <option value="2">San Isidro</option>
      <option value="3">Jesus Maria</option>
    </select>
  </div>
  <div class="col-2">
    <label class="form-label" for="departamento">Departamento</label>
    <select class="form-select">
      <option disabled selected>Seleccione</option>
      <option value="1">Lince</option>
      <option value="2">San Isidro</option>
      <option value="3">Jesus Maria</option>
    </select>
  </div>
  <div class="col-2">
    <label class="form-label" for="pdomicilio">Páis domicilio</label>
    <select class="form-select">
      <option disabled selected>Seleccione</option>
      <option value="1">Lince</option>
      <option value="2">San Isidro</option>
      <option value="3">Jesus Maria</option>
    </select>
  </div>
  <div class="col-2">
    <label class="form-label" for="presidencia">Páis residencia</label>
    <select class="form-select">
      <option disabled selected>Seleccione</option>
      <option value="1">Lince</option>
      <option value="2">San Isidro</option>
      <option value="3">Jesus Maria</option>
    </select>
  </div>
  <div class="col-2">
    <label class="form-label" for="email">Correo</label>
    <input type="text" class="form-control" name="email">
  </div>
  <div class="col-2">
    <label class="form-label" for="teloficina">Telf. Oficina</label>
    <input type="text" class="form-control" name="teloficina">
  </div>
  <div class="col-2">
    <label class="form-label" for="teldomicilio">Telf. Domicilio</label>
    <input type="text" class="form-control" name="teldomicilio">
  </div>
  <div class="col-2">
    <label class="form-label" for="telcelular">Telf. Celular</label>
    <input type="text" class="form-control" name="telcelular">
  </div>
  <div class="col-2">
    <label class="form-label">Tipo Domiciliado</label>
    <div class="d-block">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="firma" id="si3" value="1">
        <label class="form-check-label" for="si3">Si</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="firma" id="no3" value="2">
        <label class="form-check-label" for="no3">No</label>
      </div>
    </div>
  </div>
  <div class="col-2">
    <label class="form-label" for="estadocivil">Estado civil</label>
    <select class="form-select" [(ngModel)]=datosCliente.estadoCivil>
      <option disabled selected>Seleccione</option>
      <option value="Soltero">Soltero</option>
      <option value="Casado">Casado</option>
      <option value="Divorciado">Divorciado</option>
    </select>
  </div>
  <div class="col-4" *ngIf="datosCliente.estadoCivil == 'Casado'">
    <label class="form-label" for="regimen">Regimen Patrimonial</label>
    <select class="form-select">
      <option disabled selected>Seleccione</option>
      <option value="1">Opcion 1</option>
      <option value="2">Opcion 2</option>
      <option value="3">Opcion 3</option>
    </select>
  </div>
  <div class="col-2" *ngIf="datosCliente.estadoCivil == 'Casado'">
    <label class="form-label" for="nropartida">Nro partida</label>
    <input type="text" class="form-control" name="nropartida">
  </div>
  <div class="col-4" *ngIf="datosCliente.estadoCivil == 'Casado'">
    <label class="form-label" for="nombreconyuge">Nombre completo conyuge</label>
    <input type="text" class="form-control" name="nombreconyuge">
  </div>
  <div class="col-2" *ngIf="datosCliente.estadoCivil == 'Casado'">
    <label class="form-label" for="tipodocumento">Tipo documento</label>
    <select class="form-select">
      <option disabled selected>Seleccione</option>
      <option value="1">Dni</option>
      <option value="2">Pasaporte</option>
      <option value="3">Carnet de extranjeria</option>
    </select>
  </div>
  <div class="col-2" *ngIf="datosCliente.estadoCivil == 'Casado'">
    <label class="form-label" for="nombreconyuge">Número documento</label>
    <input type="text" class="form-control" name="nombreconyuge">
  </div>
  <div class="col-2">
    <label class="form-label" for="tipodocumento">Grado Instrucción</label>
    <select class="form-select">
      <option disabled selected>Seleccione</option>
      <option value="1">Primaria</option>
      <option value="2">Secundaria</option>
      <option value="3">Técnico</option>
      <option value="4">Superior</option>
    </select>
  </div>
  <div class="col-2">
    <label class="form-label" for="nrodocumentoconyuge">Profesión u ocupación</label>
    <input type="text" class="form-control" name="nrodocumentoconyuge">
  </div>
  <div class="col-4">
    <label class="form-label" for="centrolaboral">Centro laboral</label>
    <input type="text" class="form-control" name="centrolaboral">
  </div>
  <div class="col-2">
    <label class="form-label" for="cargo">Cargo</label>
    <input type="text" class="form-control" name="cargo">
  </div>
  <div class="col-2">
    <label class="form-label" for="tiempo">Tiempo de servicio</label>
    <input type="number" class="form-control" name="tiempo">
  </div>
  <div class="col-4">
    <label class="form-label">¿Cargo Público Ult. 5 años?</label>
    <div class="d-block">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="firma" id="si3" value="1">
        <label class="form-check-label" for="si3">Si</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="firma" id="no3" value="2">
        <label class="form-check-label" for="no3">No</label>
      </div>
    </div>
  </div>
  <div class="col-4">
    <label class="form-label" for="nombreinbstitucion">Nombre Institución (Entidad)</label>
    <input type="text" class="form-control" name="nombreinbstitucion">
  </div>
  <div class="col-2">
    <label class="form-label" for="cargo">Cargo</label>
    <input type="text" class="form-control" name="cargo">
  </div>
  <div class="col-2">
    <label class="form-label" for="cargo">Procedencia de Ingresos</label>
    <input type="text" class="form-control" name="cargo">
  </div>
  <div class="col-2">
    <label class="form-label" for="cargo">Monto ingresos</label>
    <input type="text" class="form-control" name="cargo">
  </div>
  <div class="col-2">
    <label class="form-label" for="cargo">Origen fondo</label>
    <input type="text" class="form-control" name="cargo">
  </div>
  <div class="col-3">
    <label class="form-label">¿Actúa por Cuenta Propia?</label>
    <div class="d-block">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="cuenta" id="si4" value="1">
        <label class="form-check-label" for="si1">Si</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="cuenta" id="no4" value="2">
        <label class="form-check-label" for="no1">No</label>
      </div>
    </div>
  </div>
  <div class="col-2">
    <label class="form-label" for="cargo">A cuenta de quien actua</label>
    <input type="text" class="form-control" name="cargo">
  </div>
  <div class="col-3">
    <label class="form-label" for="cargo">Nombre y Apellido</label>
    <input type="text" class="form-control" name="cargo">
  </div>
  <div class="col-2">
    <label class="form-label" for="cargo">Número Partida Registral</label>
    <input type="text" class="form-control" name="cargo">
  </div>
  <div class="col-2">
    <label class="form-label" for="tipodocumento">Tipo documento</label>
    <select class="form-select">
      <option disabled selected>Seleccione</option>
      <option value="1">Dni</option>
      <option value="2">Pasaporte</option>
      <option value="3">Carnet de extranjeria</option>
    </select>
  </div>
  <div class="col-2">
    <label class="form-label" for="nrodocumento">Número documento</label>
    <input type="text" class="form-control" name="nrodocumento">
  </div>
</div>