<div class="row g-3 mt-2 mb-5">
  <div class="col-3">
    <div class="d-block">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="ordenaccesoweb" id="ordenaccesoweb" value="1">
        <label class="form-check-label" for="ordenaccesoweb">Órdenes por acceso web</label>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="d-block">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="ordentelefono" id="ordentelefono" value="2">
        <label class="form-check-label" for="ordentelefono">Órdenes por teléfono</label>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="d-block">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="ordenescrito" id="ordenescrito" value="2">
        <label class="form-check-label" for="ordenescrito">Órdenes por escrito</label>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="d-block">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="ordenotros" id="ordenotros" value="2">
        <label class="form-check-label" for="ordenotros">Órdenes por Otros</label>
      </div>
    </div>
  </div>
  <div class="col-2">
    <label class="form-label" for="nacionalidad">Acceso a EECC</label>
    <select class="form-select">
      <option disabled selected>Seleccione</option>
      <option value="1">Acceso Web</option>
      <option value="2">Recoge SAB</option>
      <option value="3">Email</option>
      <option value="4">A domiclio</option>
    </select>
  </div>
  <div class="col-3 offset-1">
    <label class="form-label">Administración de Cartera</label>
    <div class="d-block">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="firma" id="si3" value="1">
        <label class="form-check-label" for="si3">Si</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="firma" id="no3" value="2">
        <label class="form-check-label" for="no3">No</label>
      </div>
    </div>
  </div>
  <div class="col-3">
    <label class="form-label">Intermediación Mercado Extanjero</label>
    <div class="d-block">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="firma" id="si3" value="1">
        <label class="form-check-label" for="si3">Si</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="firma" id="no3" value="2">
        <label class="form-check-label" for="no3">No</label>
      </div>
    </div>
  </div>
  <div class="col-3">
    <label class="form-label">Inversión Derivados</label>
    <div class="d-block">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="firma" id="si3" value="1">
        <label class="form-check-label" for="si3">Si</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="firma" id="no3" value="2">
        <label class="form-check-label" for="no3">No</label>
      </div>
    </div>
  </div>
  <div class="col-2">
    <label class="form-label" for="nacionalidad">Tu perfil</label>
    <select class="form-select">
      <option disabled selected>Seleccione</option>
      <option value="1">Conservador</option>
      <option value="2">Moderado</option>
      <option value="3">Agresivo</option>
    </select>
  </div>
  <div class="col-3 offset-1">
    <label class="form-label">He invertido antes en valores</label>
    <div class="d-block">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="firma" id="si3" value="1">
        <label class="form-check-label" for="si3">Si</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="firma" id="no3" value="2">
        <label class="form-check-label" for="no3">No</label>
      </div>
    </div>
  </div>
  <div class="col-3">
    <label class="form-label">Inversiones en Renta Fija</label>
    <div class="d-block">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="firma" id="si3" value="1">
        <label class="form-check-label" for="si3">Si</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="firma" id="no3" value="2">
        <label class="form-check-label" for="no3">No</label>
      </div>
    </div>
  </div>
  <div class="col-3">
    <label class="form-label">Inversiones en Renta Variable</label>
    <div class="d-block">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="firma" id="si3" value="1">
        <label class="form-check-label" for="si3">Si</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="firma" id="no3" value="2">
        <label class="form-check-label" for="no3">No</label>
      </div>
    </div>
  </div>
  <div class="col-3">
    <label class="form-label">Inversiones en Derivados</label>
    <div class="d-block">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="firma" id="si3" value="1">
        <label class="form-check-label" for="si3">Si</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="firma" id="no3" value="2">
        <label class="form-check-label" for="no3">No</label>
      </div>
    </div>
  </div>
</div>