<div class="row g-3 mt-2 mb-5">
  <div class="col-2">
    <label class="form-label" for="paterno">Fecha de registro</label>
    <input type="text" class="form-control" name="paterno">
  </div>
  <div class="col-3">
    <label class="form-label" for="paterno">En representación de</label>
    <input type="text" class="form-control" name="paterno">
  </div>
  <div class="col-2">
    <label class="form-label" for="paterno">Partida Electrónica</label>
    <input type="text" class="form-control" name="paterno">
  </div>
  <div class="col-3">
    <label class="form-label" for="paterno">Registro de:</label>
    <input type="text" class="form-control" name="paterno">
  </div>
  <div class="col-2">
    <label class="form-label" for="paterno">Ciudad de registro</label>
    <input type="text" class="form-control" name="paterno">
  </div>
  <div class="clear">
  </div>
  <div class="col-3">
    <div class="d-block">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="ordenaccesoweb" id="ordenaccesoweb" value="1">
        <label class="form-check-label" for="ordenaccesoweb">Tipo1 de cliente institucional (Texto 1)</label>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="d-block">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="ordenaccesoweb" id="ordenaccesoweb" value="1">
        <label class="form-check-label" for="ordenaccesoweb">Tipo2 de cliente institucional (Texto 2)</label>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="d-block">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="ordenaccesoweb" id="ordenaccesoweb" value="1">
        <label class="form-check-label" for="ordenaccesoweb">Tipo3 de cliente institucional (Texto 3)</label>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="d-block">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="ordenaccesoweb" id="ordenaccesoweb" value="1">
        <label class="form-check-label" for="ordenaccesoweb">Tipo4 de cliente institucional (Texto 4)</label>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="d-block">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="ordenaccesoweb" id="ordenaccesoweb" value="1">
        <label class="form-check-label" for="ordenaccesoweb">Tipo5 de cliente institucional (Texto 5)</label>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="d-block">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="ordenaccesoweb" id="ordenaccesoweb" value="1">
        <label class="form-check-label" for="ordenaccesoweb">Tipo6 de cliente institucional (Texto 5)</label>
      </div>
    </div>
  </div>
</div>