<div class="wizard">
    <div class="container">
      <div class="container-form">
        <app-tab></app-tab>
        <div class="tab-content" id="tabgeneral">
          <div class="tab-pane fade show active" id="contrato" role="tabpanel" aria-labelledby="contrato-tab">
            <app-contratointermediacion></app-contratointermediacion>
          </div>
          <div class="tab-pane fade" id="declaracion" role="tabpanel" aria-labelledby="declaracion-tab">
            <app-declaracionjurada></app-declaracionjurada>
          </div>
          <div class="tab-pane fade" id="ficha" role="tabpanel" aria-labelledby="ficha-tab">
            <app-fichapep></app-fichapep>
          </div>
          <div class="tab-pane fade" id="declaracioninstitucional" role="tabpanel" aria-labelledby="declaracioninstitucional-tab">
            <app-declaracionjuradainversionistainstitucional></app-declaracionjuradainversionistainstitucional>
          </div>
        </div>
        <div class="row d-flex justify-content-end">
          <div class="col-2">
            <div class="d-grid gap-2">
              <button class="btn btn-success" type="button">Continuar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>