<div class="row g-3 mt-2 mb-5">
    <div class="col-4">
      <label class="form-label" for="tipopropiedad">Autorización de uso Datos Personales </label>
      <div class="d-block">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="propiedad" id="si5" value="1">
          <label class="form-check-label" for="si5">si</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="propiedad" id="no5" value="2">
          <label class="form-check-label" for="no5">no</label>
        </div>
      </div>
    </div>
    <div class="col-3">
        <label class="form-label" for="tipopropiedad">Aceptación de Políticas <a href="#">Ver política</a></label>
        <div class="d-block">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="politica" id="politica" value="1">
            <label class="form-check-label" for="politica">Si acepto</label>
          </div>
        </div>
      </div>
  </div>

  <div class="row mt-5 pt-5 pb-5">
    <div class="col-4">

    </div>
    <div class="col-2">
      <button class="btn btn-primary w-100">Atras</button>
    </div>
    <div class="col-2">
      <button class="btn btn-success w-100">Siguiente</button>
    </div>
  </div>