<div id="pdf4">
  <img class="position-absolute logo" src="/assets/diviso-bolsa.png" alt="">
  <div class="cabecera mb-0 pb-2">
    <h2 class="text-center mb-0 pt-0">CONTRATO DE ADMINISTRACIÓN DE FONDOS MUTUOS</h2>
    <p class="text-center fw-bold subtitle m-0">Persona Natural</p>
    <p class="text-center fw-bold subtitle m-0 pt-1" style="font-size: 11px;">
      <b>www.diviso.pe/fondos/</b>
    </p>
  </div>
  <div class="body-pdf">
    <div class="section-green m-0">
      <h3>I. DATOS DEL CONTRATO</h3>
      <div class="form-pdf pb-2">
        <div class="d-flex">
          <span>Tipo de régimen:
            <span class="custom-input">
              <input type="checkbox"> Individual
            </span>
            <span class="custom-input">
              <input type="checkbox"> Copropietario (porcentaje: 0%)
            </span>
          </span>
          <span style="padding-left: 1px">Tipo de Firma:
            <span class="custom-input">
              <input type="checkbox"> Indistinta
            </span>
            <span class="custom-input">
              <input type="checkbox"> Conjunta
            </span>
          </span>
          <span style="padding-left: 4px"> Fecha de Suscripción: 10/01/1991</span>
        </div>
        <div class="d-flex" style="width: 30%;">
          <span style="width:35%">Código Cliente:</span>
          <p style="width:65%"></p>
        </div>
        <div class="d-flex" style="width: 32%;">
          <span style="width:40%">Agente Colocador:</span>
          <p style="width:60%"></p>
        </div>
        <div class="d-flex" style="width: 32%;">
          <span style="width:41%">Nombre del Fondo:</span>
          <p style="width:59%"></p>
        </div>
      </div>
    </div>
    <div class="section-green m-0">
      <h3>II. DATOS DEL PARTÍCIPE</h3>
      <div class="form-pdf">
        <div class="left">
          <div class="d-flex">
            <span style="width:13%">Apellidos</span>
            <p style="width:87%">Machuca Cóndor</p>
          </div>
          <div class="d-flex">
            <span style="width:13%">Nombres</span>
            <p style="width:87%">Jairo Alberto</p>
          </div>
          <div class="d-flex">
            <div class="d-flex" style="width:100%">
              <span style="width:30%">DNI/CE/PASAPORTE Nº</span>
              <p style="width:70%"></p>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="d-flex">
            <span style="width:37%">Profesión u ocupación</span>
            <p style="width:63%"></p>
          </div>
          <div class="d-flex">
            <span style="width:35%">Lugar donde Labora</span>
            <p style="width:65%"></p>
          </div>
          <div class="d-flex">
            <div class="d-flex" style="width: 45%;">
              <span style="width:35%">Cargo</span>
              <p style="width:65%"></p>
            </div>
            <div class="d-flex" style="width: 55%;">
              <span style="width:55%">Tiempo de servicio</span>
              <p style="width:45%"></p>
            </div>
          </div>
        </div>
        <div class="d-flex pt-1" style="width: 100%;">
          <span>Pefil de riesgo del Cliente (completar ANEXO):
            <span class="custom-input" style="padding-left: 10px;"><input type="checkbox"
                style="left: -3px;">Conservador</span>
            <span class="custom-input" style="padding-left: 10px;"><input type="checkbox"
                style="left: -3px;">Moderado</span>
            <span class="custom-input" style="padding-left: 10px;"><input type="checkbox"
                style="left: -3px;">Agresivo</span>
          </span>
        </div>
        <div class="d-flex" style="width: 100%;">
          <span style="width:6%">Domicilio</span>
          <p style="width:94%"></p>
        </div>
        <div class="left">
          <div class="d-flex">
            <div class="d-flex" style="width: 50%;">
              <span style="width:20%">Distritc</span>
              <p style="width:80%"></p>
            </div>
            <div class="d-flex" style="width: 50%;">
              <span style="width:12%">Prov</span>
              <p style="width:87%"></p>
            </div>
          </div>
          <div class="d-flex">
            <div class="d-flex" style="width: 50%;">
              <span style="width:20%">Dpto</span>
              <p style="width:80%"></p>
            </div>
            <div class="d-flex" style="width: 50%;">
              <span style="width:12%">País</span>
              <p style="width:87%"></p>
            </div>
          </div>
          <div class="d-flex">
            <span style="width: 25%;">Correo Electrónico</span>
            <p style="width:75%"></p>
          </div>
          <div class="d-flex">
            <div class="d-flex" style="width: 50%;">
              <span style="width:45%">Teléf. Domicilio</span>
              <p style="width:55%"></p>
            </div>
            <div class="d-flex" style="width: 50%;">
              <span style="width:20%">Celular</span>
              <p style="width:80%"></p>
            </div>
          </div>
          <div class="d-flex">
            <div class="d-flex" style="width: 50%;">
              <span style="width:60%">Lugar de Nacimiento</span>
              <p style="width:40%"></p>
            </div>
            <div class="d-flex" style="width: 50%;">
              <span style="width:60%">Fecha de Nacimiento</span>
              <p style="width:40%"></p>
            </div>
          </div>
          <div class="d-flex" style="width: 100%;">
            <span style="width:18%">Nacionalidad</span>
            <p style="width:82%"></p>
          </div>
          <div class="d-flex pt-1">
            <div class="d-flex" style="width: 51%;">
              <span class="custom-input px-0" style="width: 45%;">Domiciliado <input type="checkbox"></span>
              <span class="custom-input" style="width: 55%;">No Domiciliado <input type="checkbox"></span>
            </div>
            <div class="d-flex" style="width: 49%;">
              <span style="width:35%">Indicar país</span>
              <p style="width:65%"></p>
            </div>
          </div>
          <div class="d-flex pt-1">
            <div class="d-flex">
              <span>Grado de Instrucción:</span>
            </div>
            <div class="d-flex">
              <span style="text-align: right; padding-left: 3px;">Prim.</span>
              <p class="noborder">
                <input type="checkbox">
              </p>
            </div>
            <div class="d-flex">
              <span style="text-align: right; padding-left: 3px;">Secund.</span>
              <p class="noborder">
                <input type="checkbox">
              </p>
            </div>
            <div class="d-flex">
              <span style="text-align: right; padding-left: 3px;">Téc.</span>
              <p class="noborder">
                <input type="checkbox">
              </p>
            </div>
            <div class="d-flex">
              <span style="text-align: right; padding-left: 3px;">Sup.</span>
              <p class="noborder">
                <input type="checkbox">
              </p>
            </div>
          </div>
          <div>
            <div class="d-flex">
              <span style="width:20%">Estado Civil</span>
              <p style="width:80%"></p>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="d-flex">
            <span style="width:50%">Señas Particulares (Obs. en DNI)</span>
            <p style="width:50%"></p>
          </div>
          <div class="d-flex">
            <div class="d-flex" style="width:65%">
              <span style="width:88%">Monto de ingreso mensual aprox: S/</span>
              <p style="width:12%"></p>
            </div>
            <div class="d-flex" style="width:35%">
              <span style="width:25%">Origen:</span>
              <p style="width:75%"></p>
            </div>
          </div>
          <div class="d-flex pt-1">
            <div class="d-flex" style="width: 55%;">
              <div style="width: 85%;">
                <span style="width:25%">Cargo Público(Últ. 5 años)</span>
              </div>
              <div class="d-flex" style="width: 20%;">
                <div class="d-flex">
                  <span style="width:50%">SI</span>
                  <p class="noborder">
                    <input type="checkbox">
                  </p>
                </div>
                <div class="d-flex">
                  <span style="width:50%; padding-left: 10px;">NO</span>
                  <p class="noborder">
                    <input type="checkbox">
                  </p>
                </div>
              </div>
            </div>
            <div style="width: 45%;">
              <div class="d-flex">
                <span style="padding-left: 10px; text-align: right; width:100%">(Completar FICHA PEP)</span>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <span style="width:35%">Cargo Desempeño:</span>
            <p style="width:65%"></p>
          </div>
          <div class="d-flex">
            <span style="width:40%">Nombre de la Institución:</span>
            <p style="width:60%"></p>
          </div>
          <div class="d-flex pt-1" style="letter-spacing: -0.2px;">
            <span>
              Actua por cuenta propia:
              <span>
                <span style="position: relative;">
                  SI <input type="checkbox" style="top: 2px; position: relative;">
                </span>
                <span style="position: relative;">
                  NO <input type="checkbox" style="top: 2px; position: relative;">
                </span>
                <span style="font-size: 8px;">
                  Si marcó NO, indicar por cuenta de quien:
                </span>
              </span>
            </span>
          </div>
          <div class="d-flex">
            <span style="width:60%">Apellidos y nombres/Denominación social:</span>
            <p style="width:40%"></p>
          </div>
          <div class="d-flex">
            <p style="width:40%"></p>
            <span>DNI/RUC/otro:</span>
            <p style="width:60%"></p>
          </div>
          <div class="d-flex">
            <div class="d-flex" style="width:40%">
              <span style="width:55%">País de origen:</span>
              <p style="width:45%"></p>
            </div>
            <div class="d-flex" style="width:60%">
              <span style="width:70%">País de residente/domicilio:</span>
              <p style="width:30%"></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="left" style="width: 49%; float: left;">
      <div class="section-green mt-1">
        <div class="form-pdf d-block">
          <div class="d-block w100">
            <span>Información del cónyuge, en caso el Cliente está cadado(a):</span>
          </div>
          <div class="d-flex" style="font-size: 8.5px;">
            <span>Régimen:</span>
            <span style="padding-left: 10px; position: relative;"><input style="top:2px; position: relative"
                type="checkbox"> Sociedad de Gananciales</span>
            <span style="padding-left: 10px; position: relative;"><input style="top:2px; position: relative"
                type="checkbox"> Separación de Patrimonios</span>
          </div>
          <div class="d-flex">
            <span>
              Si selecciona Separación de Patrimonios, indicar:
            </span>
          </div>
          <div class="d-flex">
            <div class="d-flex" style="width: 50%;">
              <span style="width:28%">Partida N</span>
              <p style="width:72%"></p>
            </div>
            <div class="d-flex" style="width: 50%;">
              <span style="width:43%">Zona Registral</span>
              <p style="width:57%"></p>
            </div>
          </div>
          <div class="d-flex">
            <span>
              Información del cónyuge del Cliente:
            </span>
          </div>
          <div class="d-flex">
            <span style="width:13%">Apellidos</span>
            <p style="width:87%">Machuca Cóndor</p>
          </div>
          <div class="d-flex">
            <span style="width:13%">Nombres</span>
            <p style="width:87%">Machuca Cóndor</p>
          </div>
          <div class="d-flex">
            <span style="width:28%">DNI/CE/Pasaporte N</span>
            <p style="width:72%">Machuca Cóndor</p>
          </div>
          <div class="d-flex pt-1">
            <div class="d-flex" style="width: 55%;">
              <div style="width: 85%;">
                <span style="width:25%">Cargo Público(Últ. 5 años)</span>
              </div>
              <div class="d-flex" style="width: 20%;">
                <div class="d-flex">
                  <span style="width:50%">NO</span>
                  <p class="noborder">
                    <input type="checkbox">
                  </p>
                </div>
                <div class="d-flex">
                  <span style="width:50%; padding-left: 10px;">SI</span>
                  <p class="noborder">
                    <input type="checkbox">
                  </p>
                </div>
              </div>
            </div>
            <div style="width: 45%;">
              <div class="d-flex">
                <span style="padding-left: 10px; text-align: right; width:100%">(Completar FICHA PEP)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right" style="width: 49%; float: right; margin-left: 10px;">
      <div class="section-green mt-1 pt-1">
        <div class="form-pdf d-block">
          <div class="d-block w100">
            <span>Si el registro es efectuado por un Representante, indicar:</span>
          </div>
          <div class="d-flex">
            <span style="width:30%">Nombres y Apellidos</span>
            <p style="width:70%">Machuca Cóndor</p>
          </div>
          <div class="d-flex">
            <div class="d-flex" style="width: 60%;">
              <span style="width:75%">Inscripciòn Registral: Partida N</span>
              <p style="width:25%"></p>
            </div>
            <div class="d-flex" style="width: 40%;">
              <span style="width:50%">Zona Registral</span>
              <p style="width:50%"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="section-green mt-1 pt-1">
        <div class="form-pdf d-block">
          <div class="d-flex">
            <span style="font-size: 8.5px;">Indicar número(s) de cuenta(s) de titularidad del Cliente para sus
              operaciones:</span>
          </div>
          <table class="table">
            <tr>
              <td class="text-center">
                <b>Institución</b>
              </td>
              <td class="text-center">
                <b>Tipo de cuenta y moneda</b>
              </td>
              <td class="text-center">
                <b>Número</b>
              </td>
            </tr>
            <tr>
              <td>
                demo
              </td>
              <td>
                demo
              </td>
              <td>
                demo
              </td>
            </tr>
            <tr>
              <td>
                demo
              </td>
              <td>
                demo
              </td>
              <td>
                demo
              </td>
            </tr>
            <tr>
              <td>
                demo
              </td>
              <td>
                demo
              </td>
              <td>
                demo
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="section-green m-0" style="float: left; width:100%">
      <h3>III. MODALIDAD DE ENVIÓ DE ESTADO DE CUENTA</h3>
      <div class="form-pdf pb-2">
        <div class="d-flex" style="width:90%">
          <span class="custom-input"><input type="checkbox"> Correo Electrónico :</span>
          <p style="width: 80%;"></p>
        </div>
        <div class="d-flex" style="width:10%">
          <span class="custom-input"><input type="checkbox"> Domicilio</span>
        </div>
        <div class="d-flex" style="width:90%">
          <span class="custom-input"><input type="checkbox"> Recojo en Oficinas de Diviso Fondos o Agentes Colocadores</span>
        </div>
      </div>
    </div>
    <div class="section-green m-0" style="float: left; width:100%">
      <h3>IV. MODALIDAD DE ENVIÓ DE ESTADO DE COMUNICACIONES</h3>
      <div class="form-pdf pb-2">
        <div class="d-flex" style="width:90%">
          <span class="custom-input"><input type="checkbox"> Correo Electrónico :</span>
          <p style="width: 80%;"></p>
        </div>
        <div class="d-flex" style="width:10%">
          <span class="custom-input"><input type="checkbox"> Domicilio</span>
        </div>
        <div class="d-flex" style="width:90%">
          <span class="custom-input"><input type="checkbox"> Recojo en Oficinas de Diviso Fondos o Agentes Colocadores</span>
        </div>
      </div>
    </div>
    <div class="section-green m-0" style="float: left; width:100%">
      <div style="width: 50%; float: left; border-right: solid 1px #00e300;">
        <h3>V. AFILIACIÓN A MEDIOS ELECTRONICOS</h3>
        <div class="form-pdf pb-2">
          <div class="d-flex" style="width: 100%;">
            <span>¿Desea realizar operaciones por medios electrónicos? <span class="custom-input"><input type="checkbox"> SI</span> <span class="custom-input"><input type="checkbox"> NO</span></span>
          </div>
          <div class="d-flex" style="width: 100%;">
            <span class="custom-input"><input type="checkbox"> Desde la páginaweb de Diviso Fondos</span>
            <span class="custom-input"><input type="checkbox"> Por línea telefónica</span> 
          </div>
          <div class="d-flex" style="width:90%">
            <span class="custom-input"><input type="checkbox"> Por correo Electrónico :</span>
            <p style="width: 55%;"></p>
          </div>
        </div>

      </div>
      <div style="width: 50%; float: right; padding-left: 20px;">
        <div class="m-0" style="float: left; width:100%">
          <h3>VI. INFORMACIÓN ADICIONAL</h3>
          <div class="form-pdf pb-2">
            <span>Autorización para uso de Datos Personales: <span class="custom-input"><input type="checkbox"> SI</span> <span class="custom-input"><input type="checkbox"> NO</span></span>
            <span style="line-height: normal; font-size: 8.8px">En caso de marcar SI, acepta el tratamiento de sus datos personales indicados en los Términos y Condiciones Generales del Contrato de Administración de Fondos Mutuos.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="section-green m-0" style="float: left; width:100%">
      <div class="form-pdf">
        <span style="line-height: 1;padding-top: 5px;">Con la suscripción de este documento. el Participe declara haber recibido los Términos y Condiciones Generales del Contrato 
          de Administración de Fondos Mutuos, asi como el Prospecto Simplificado y el Reglamento de Participación y sus Anexos, los mismos 
          que se pueden descargar desde el website www.diviso.pe/fondos/ La incoporación del Cliente (Participe) al fondo mutuo importa su 
          plena aceptación y sometimiento al Prospecto Simplificado y al Reglamente de Participación y su Anexo, y demás reglas que regulen 
          su funcionamiento.</span>
      </div>
    </div>
    <div style="width: 100%; float: left; padding-top: 80px;">
      <div class="d-flex">
        <div class="d-flex" style="width: 45%;">
          <div style="border-top: solid 1px #000; width: 95%; text-align: center;">
            <p class="m-0" style="font-size: 9px;">Firma de Participe / Apoderado</p>
          </div>
        </div>
        <div class="d-flex" style="width: 45%; text-align: center;">
          <div style="border-top: solid 1px #000; width: 95%;">
            <p class="m-0" style="font-size: 9px;">Sello y Firma del Promotor</p>
          </div>
        </div>
      </div>
      <div class="d-flex mt-1">
        <div class="d-flex" style="width: 35%;">
        </div>
        <div class="d-flex" style="width: 35%;text-align: center;">
          <div style="width: 100%;text-align: center;">
            <span class="m-0" style="border: solid 1px #000; padding: 3px 10px; border-radius: 50%;">1</span>
            <span style="padding-left: 6px;">SAF</span>
          </div>
        </div>
        <div class="d-flex" style="width: 35%; text-align: center;">
          <div style=" width: 100%; text-align: right;">
            <span style="font-size: 9px;">SAB-GCO-FOR-01.02/AGO2019</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>