<div class="row g-3 mt-2 mb-5">
    <label class="mb-0 fw-bold">Ingrese su cuenta bancaria</label>
    <div class="col-2">
        <select class="form-select">
            <option disabled selected>Seleccione tipo cuenta</option>
            <option value="1">Ahorros</option>
            <option value="2">Corrientes</option>
          </select>
    </div>
    <div class="col-2">
        <select class="form-select">
            <option disabled selected>Seleccione tipo cuenta</option>
            <option value="1">Ahorros</option>
            <option value="2">Corrientes</option>
          </select>
    </div>
    <div class="col-2">
        <select class="form-select">
            <option disabled selected>Seleccione tipo cuenta</option>
            <option value="1">Ahorros</option>
            <option value="2">Corrientes</option>
          </select>
    </div>
    <div class="col-2">
        <input type="text" class="form-control" name="paterno">
    </div>
    <div class="col-2">
        <input type="text" class="form-control" name="paterno">
    </div>
    <div class="col-2">
        <button class="btn btn-sm btn-success" type="button">Agregar</button>
    </div>
</div>
<table class="table table-bordered">
    <thead>
      <tr class="text-center">
        <th scope="col">Tipo de Cuenta</th>
        <th scope="col">Moneda</th>
        <th scope="col">Banco</th>
        <th scope="col">Número de cuenta</th>
        <th scope="col">Número de CCI</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center align-middle">
        <td>Ahorros</td>
        <td>Soles</td>
        <td>Banco de Credito</td>
        <td>989832423473424</td>
        <td>0012-324324234324</td>
        <td>
          <button type="button" class="btn btn-danger p-2">
            <i class="bi bi-trash"></i> Eliminar
          </button>
        </td>
      </tr>
      <tr class="text-center align-middle">
        <td>Ahorros</td>
        <td>Soles</td>
        <td>Banco de Credito</td>
        <td>989832423473424</td>
        <td>0012-324324234324</td>
        <td>
          <button type="button" class="btn btn-danger p-2">
            <i class="bi bi-trash"></i> Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="row mt-5 pt-5 pb-5">
    <div class="col-4">

    </div>
    <div class="col-2">
      <button class="btn btn-primary w-100">Atras</button>
    </div>
    <div class="col-2">
      <button class="btn btn-success w-100">Siguiente</button>
    </div>
  </div>