
<div class="row g-3 mt-2 mb-5">
  <div class="col-12">
    <label class="form-label">¿Tienes residencia fiscal o tributaria en otros paises?</label>
    <div class="d-block">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="vinculado" id="si" value="1">
        <label class="form-check-label" for="si">Si</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="vinculado" id="no" value="2">
        <label class="form-check-label" for="no">No</label>
      </div>
    </div>
  </div>
  
  <div class="col-6">
    <table class="table table-bordered mt-2">
      <thead>
        <tr class="text-center">
          <th scope="col">País</th>
          <th scope="col">NIT</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center align-middle">
          <td>Perú</td>
          <td>98988987</td>
          <td>
            <button type="button" class="btn btn-danger p-2">
              <i class="bi bi-trash"></i> Eliminar
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>
            <select class="form-select">
              <option disabled selected>Seleccione Páis</option>
              <option value="1">Perú</option>
              <option value="2">Colombia</option>
            </select>
          </td>
          <td>
            <input type="text" class="form-control" name="numerocuenta">
          </td>
    
          <td>
            <button class="btn btn-sm btn-success" type="button">Agregar</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class=" m-0"></div>
  <div class="col-2">
    <label class="form-label" for="Fecha">SSN</label>
    <input type="text" class="form-control">
  </div>
  
  <div class="col-2">
    <label class="form-label" for="Fecha">EIN</label>
    <input type="text" class="form-control">
  </div>
    
  <div class="col-2">
    <label class="form-label" for="Fecha">Fecha actual</label>
    <input type="text" class="form-control">
  </div>
</div>