<div id="pdf3">
    <img class="position-absolute logo" src="/assets/diviso-bolsa.png" alt="">
    <div class="cabecera mb-0 pb-2">
      <h2 class="text-center mb-3 pt-3">ANEXO PEP - Persona Expuesta Políticamente</h2>
    </div>
    <div class="body-pdf pep">
      <p>El llenado de este Anexo es obligatorio según Resolución CONASEV N° 033-2011-EF/94.01.1.Art.7. Aplicable hasta 5 años después de ocurrido el cese.</p>
      <div class="section-green m-0">
        <h3>I. Datos Generales</h3>
        <div class="form-pdf">
          <div class="d-flex">
            <span style="width:14%">Nombre Completo</span>
            <p style="width:86%"></p>
          </div>
          <div class="d-flex">
            <div class="d-flex" style="width:50%">
              <span style="width:28%">DNI/CE/PASAPORTE</span>
              <p style="width:72%"></p>
            </div>
            <div class="d-flex" style="width:50%">
              <span style="width:18%">Código RUT</span>
              <p style="width:82%"></p>
            </div>
          </div>
          <div class="d-flex">
            <div class="d-flex" style="width:35%">
              <span style="width:32%">Cargo público</span>
              <p style="width:68%"></p>
            </div>
            <div class="d-flex" style="width:25%">
              <span style="width:18%">Entidad</span>
              <p style="width:82%"></p>
            </div>
            <div class="d-flex" style="width:40%">
              <span style="width:65%">País donde desempeña la función</span>
              <p style="width:35%"></p>
            </div>
          </div>
          <div class="d-flex">
            <div class="d-flex" style="width:25%">
              <span style="width:45%">Fecha de inicio</span>
              <p style="width:55%"></p>
            </div>
            <div class="d-flex" style="width:25%">
              <span style="width:45%">Fecha de cese</span>
              <p style="width:55%"></p>
            </div>
            <div class="d-flex" style="width:50%">
              <span style="width: 85%;
              top: 4px;
              position: relative;
              left: 19px;">La función implica administración de recursos</span>
              <P class="noborder" style="width: 25%;
              position: relative;
              top: 5px;
              left: -20px;">
                <span style="padding-right: 6px; position: relative; left: 4px;">SI</span>
                <span class="noborder" style="top: 2px;
                position: relative;">
                  <input type="checkbox" style="padding-top: 20px;">
                </span>
                <span style="padding-left: 6px;">NO</span>
                <span class="noborder" style="top: 2px;
                position: relative; left:6px;">
                  <input type="checkbox">
                </span>
              </P>
            </div>
          </div>
          <div class="d-flex">
            <div class="d-flex" style="width:65%">
              <span style="width:42%">Nombre completo del cónyuge</span>
              <p style="width:68%"></p>
            </div>
            <div class="d-flex" style="width:35%">
              <span style="width:40%">Tipo y N° Doc.Ident</span>
              <p style="width:60%"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="section-green m-0 mt-3 mb-2">
        <h3>II. Datos Parentesco</h3>
        <table class="table" style="width:50%; float: left;">
          <tbody>
            <tr>
              <td colspan="2">
                <span>Datos del declarante<br>Parentesco por afinidad(1er y 2do grado)</span>
              </td>
              <!-- <td>
                <span>Datos del cónyuge o concubino<br>Parentesco por afinidad(1er y 2do grado)</span>
              </td> -->
            </tr>
            <tr>
              <td style="width: 34%;">
                Parentesco
              </td>
              <td>
                Nombre Completo
              </td>
            </tr>
            <tr>
              <td>
                Madre
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td rowspan="6">
                Hijos
              </td>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                Abuelo línea paterna
              </td>
              <td>
                <span>demo</span>
              </td>
            </tr>
            <tr>
              <td>
                Abuela línea paterna
              </td>
              <td>
                <span>demo</span>
              </td>
            </tr>
            <tr>
              <td>
                Abuelo línea materna
              </td>
              <td>
                <span>demo</span>
              </td>
            </tr>
            <tr>
              <td>
                Abuela línea materna
              </td>
              <td>
                <span>demo</span>
              </td>
            </tr>
            <tr>
              <td rowspan="4">
                Nietos
              </td>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td rowspan="6">
                Hermanos
              </td>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            
          </tbody>
        </table>
        <table class="table" style="width:50%">
          <tbody>
            <tr>
              <td colspan="2" class="noborder">
                <span>Datos del declarante<br>Parentesco por afinidad(1er y 2do grado)</span>
              </td>
              <!-- <td>
                <span>Datos del cónyuge o concubino<br>Parentesco por afinidad(1er y 2do grado)</span>
              </td> -->
            </tr>
            <tr>
              <td  class="noborder" style="width: 34%;">
                Parentesco
              </td>
              <td>
                Nombre Completo
              </td>
            </tr>
            <tr>
              <td  class="noborder">
                Madre
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td rowspan="6"  class="noborder">
                Hijos
              </td>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td  class="noborder">
                Abuelo línea paterna
              </td>
              <td>
                <span>demo</span>
              </td>
            </tr>
            <tr>
              <td  class="noborder">
                Abuela línea paterna
              </td>
              <td>
                <span>demo</span>
              </td>
            </tr>
            <tr>
              <td  class="noborder">
                Abuelo línea materna
              </td>
              <td>
                <span>demo</span>
              </td>
            </tr>
            <tr>
              <td  class="noborder">
                Abuela línea materna
              </td>
              <td>
                <span>demo</span>
              </td>
            </tr>
            <tr>
              <td rowspan="4"  class="noborder">
                Nietos
              </td>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td rowspan="6"  class="noborder">
                Hermanos
              </td>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>sdsad</span>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="section-green m-0 mb-2">
        <h3>III. Participación en Persona Jurídica igual o mayor al 5% del Capital Social <span style="padding-left: 10px; padding-right:10px">SI<input type="checkbox" style="position:relative; top:2px;left:4px;"></span> <span>NO<input type="checkbox" style="position:relative; top:2px;left:4px;"></span></h3>
        <table class="table">
          <tr>
            <td class="text-center" style="width: 67%;">
              Razón Social
            </td>
            <td class="text-center">
              N° RUC o Doc <br> identidad
            </td>
            <td class="text-center">
              % de Participación
            </td>
          </tr>
          <tr>
            <td>demo</td>
            <td>demo</td>
            <td>demo</td>
          </tr>
          <tr>
            <td>demo</td>
            <td>demo</td>
            <td>demo</td>
          </tr>
          <tr>
            <td>demo</td>
            <td>demo</td>
            <td>demo</td>
          </tr>
          <tr>
            <td>demo</td>
            <td>demo</td>
            <td>demo</td>
          </tr>
        </table>
      </div>
      <p>
        Declaro bajo juramento que he consignado todos los datos solicitados y que los mismos corresponden a la realidad. FECHA 01/082022
      </p>
      <div class="d-flex">
        <p style="border-top: solid 1px #000;width: 20%;" class="mt-5">Firma del declarante</p>
      </div>
    </div>
  </div>